/*---RESET FILE---*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*--- main style ---*/

@font-face{
	font-family:calson;
	src: url(font/EBGaramond-Regular.ttf) format("truetype");
}

@font-face{
	font-family:tungsten_bold;
	src: url(font/Tungsten-Bold.ttf) format("truetype");
}

@font-face{
	font-family:tungsten_book;
	src: url(font/Tungsten-Book.ttf) format("truetype");
}

body{
	font-family: caslon;
	font-size: 20px;
	color: #000000;
}

#header_bckgrnd{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100px;
background-color: #DDDDDD;
z-index: 5;
}

ul{
	list-style: none;
	display: inline;
}

nav{
	width: 1024px;
}

#navbar_main{
	font-size: 20px;
	font-family: tungsten_book;
	margin: 0 auto;
	margin-top: 5px;
	width: 272px;
	position: relative;
	z-index: 200;
}

li{
	float: left;
	text-align: center;
	font-family: tungsten_book;
}

li:hover{
}

#body{
	font-family:calson;
	width:1024px;
	margin: 0 auto;
	margin-bottom: 40px
}

#header{
	width:1024px;
	height: 50px;
}

header{
	width: 100%;
	text-align: center;
	height: 100px;
	margin-bottom: 10px;
}

a{
	text-decoration: none;
	color: #000000;
}

.headerlink{
	float:left;
	padding-right: 20px;
}

.headerlink:hover{
	text-decoration: underline;
}

#last_hl{
	padding: 0;
}

#current{
	font-family: tungsten_bold;
}



#current_last{
	font-family: tungsten_bold;
	padding: 0;
}

#logo{
	padding-top: 15px;
	text-align: center;
	position: relative;
	z-index: 200;
}

section{
	padding-bottom: 10px;
}

#top_text{
	margin-top: 30px;
}

.top_text{

	width: 1024px;
	font-size: 17px;
	line-height: 20px;
	float: left;
	position: relative;
	z-index: 3;
}

#toptext_x1{
	width: 256px;
	height: 220px;
}
#toptext_x2{
	float: left;
	width: 256px;
	height: 220px;
}

#x1{
	position: relative;
	top: 104px;
	text-align: center;
}

#x2{
	position: relative;
	top: 104px;
	text-align: center;
}

#toptext_text{
	text-align: center;
	width: 512px;
	margin: 0 auto;
	float: left;
	margin-bottom: 81px;
}

#takealook{
	margin: 0 auto;
	position: absolute;
	top: 390px;
}

#toptrips{
}

.triplink_img{
	height: 100px;
	width: 502px;
	float: left;
}

.trip_link{
	margin-bottom: 20px;
	height: 100px; 
	width: 502px;
	background-color: #d8d9dd;
	float: left;
	overflow: hidden;
}

.trip_title{
	padding-top: 2.5px;
	padding-left: 5px;
	padding-right: 5px;
	float: left;
	font-family: tungsten_bold;
	position: relative;
	bottom: 24px;
	background-color: rgba(216,217,221,0.75);
	width: 492px;
	height: 100px;
	transition:bottom 0.5s;
}

.trip_title:hover{
	bottom: 100px;
}

.trip_text{
	font-family:calson;
	font-size: 15px;
}

#trip01_times{
	margin-right: 20px;
}

#trip03_wall{
	margin-right: 20px;
}


.maplink_img{
	height: 100px;
	width: 1024px;
	float: left;
}

.map_link{
	margin-bottom: 20px;
	height: 100px; 
	width: 1024px;
	background-color: #d8d9dd;
	overflow: hidden;
}

.map_title{
	padding-top: 2.5px;
	padding-left: 5px;
	float: left;
	font-family: tungsten_bold;
	position: relative;
	bottom: 24px;
	background-color: rgba(216,217,221,0.75);
	width: 1019px;
	height: 100px;
	transition:bottom 0.5s;
}

.map_title:hover{
	bottom: 100px;
}

.map_text{
	font-family:calson;
	font-size: 15px;
}

footer{
	width: 100%;
	height: 50px;
	background-color: #DDDDDD;
    margin: 0px;
    padding: 0px;
    overflow: hidden; 
}

#in_footer{
	font-family:calson;
	width:1024px;
	font-size: 12px;
	margin: 0px auto;
}

#footer_bck{

}

/*--- all_rutes.html ---*/

.ar_trip_link{
	height: 100px; 
	width: 1024px;
	background-color: #d8d9dd;
	margin-bottom: 20px;
	overflow: hidden;
}

.ar_trip_title{
	padding-right:5px; 
	padding-left:5px;
	padding-top:2.5px;
	padding-bottom:2.5px;
	font-family: tungsten_bold;
	background-color: rgba(216,217,221,0.75);
	width: 512px;
	height: 95px;
	float: left;
	position: relative;
}

.ar_trip_title:hover{
}

.ar_anim{
	position: absolute;
	height: 100px;
	width: 502px;
}

.ar_triplink_img{
	position: relative;
	-webkit-clip-path: circle(6px at 222.5px 60.5px);
	height: 100px;
	width: 502px;
	transition:0.5s;
	float: left;
}

.ar_triplink_img:hover{
	-webkit-clip-path: circle(600px at 222.5px 60.5px);
}

.ar_map_link{
	margin-top: 30px;
	margin-bottom: 20px;
	height: 100px; 
	width: 1024px;
	background-color: #d8d9dd;
	overflow: hidden;
}

.ar_triplink:hover{
	color:#3a3a3a;
}

/*--- street_view ---*/

#curtain{
	background-color: rgba(0.0.0.0.0);
	width: 100%;
	height: 693px;
	position: absolute;
	z-index: 90;
}

#in_curtain{
	position: relative;
	width: 1024;
	height: 21px;
	top: 590px;
	text-align: center;
}

#button{
	z-index: 105;
	text-align: center;
}

.street_view{
	padding-top: 0px;
	margin-top: 30px;
	margin-bottom: 10px;
	position: relative;
	z-index: 101;
}

#place{
	font-family: tungsten_bold;
	position: relative;
	z-index: 101;
	width:150px;
	letter-spacing: 0.5px;
}

/*--- other_trips.html ---*/

.other_cities{
	height: 43px;
	width:513px;
	margin: 0 auto;
	margin-bottom: 20px;
	overflow: hidden;

}

.other_title{
	text-align: center;
}

.other_img{
	position: relative;
	right: 0;
	transition: right 0.5s;
	bottom: 46px;
}

.other_img:hover{
	right: 248px;
}

#other{
	margin-top:125px; 
	height: 500px;
}

#other_title_img{
	text-align: center;
	margin-bottom:75px;
}

/*--- contact.html ---*/

#formulario{
	font-family: tungsten_book;
	font-size: 17px;
}





