<header>
			<p>
				<div id="header">
					<div id="top_bar">
						<a href="index.html">
							<div id="main_title">
								<img src="{{ 'img/header/main_titleBlog.gif' | relative_url }}">
							</div>
						</a>
						<div class="categories"id="cat1">
							<a class="category" href="index.html">home</a><br>
							<a class="category" href="apps.html">applications</a><br>
							<a class="category" id="pcomp_a" href="pcomp.html">physical computing</a><br>
						</div>
						<div class="categories"id="cat5">
							<a class="category" href="icm.html">ICM</a><br>
							<a class="category" href="soundnvid.html">sound & video</a><br>
							<a class="category" href="altdocs.html">alt docs</a>
						</div>
						<div class="categories"id="cat4">
							<a class="category" href="towers.html">towers of power</a><br>
							<a class="category" href="basicanalog.html">analog circuits</a><br>
							<a class="category" href="naturecode.html">nature of code</a>
						</div>
						<div class="categories"id="cat4">
							<a class="category" href="netmedia.html">net media</a><br>
							<a class="category" href="piecingit.html">piecing it</a><br>
							<a class="category" href="bluetooth.html">bluetooth LE</a>
						</div>
						<div class="soc">
							<img src="{{ 'img/socicon/socicon.svg' | relative_url }}">
							<div id="socicons">
								<a class="socicon1" href="https://www.linkedin.com/in/GrauPuche" target="_blank">
									<div class="socicon2"></div>
								</a>
								<a class="socicon1" href="https://instagram.com/Grau_Puche/" target="_blank">
									<div class="socicon2"></div>
								</a>
								<a class="socicon1" href="https://twitter.com/Grau_Puche" target="_blank">
									<div class="socicon2"></div>
								</a>
							</div>
						</div>
						<div id="contact">
							<a id="contact_a" href="contact.html"></a><br>
						</div>
					</div>
				</div>
		</header>