<header>
				<div id="header">
					<div id="top_bar">
						<a href="{{ site.url}}">
							<div id="main_title">
								<img src="{{ 'img/header/main_titleBlog.gif' | relative_url }}">
							</div>
						</a>
						<div class="categories"id="cat1">
							<a class="category" href="{{ site.url}}">home</a><br>
							<a class="category" href="{{ '/applications/' | relative_url }}">applications</a><br>
							<a class="category" href="{{ '/physical computing/' | relative_url }}">physical computing</a><br>
						</div>
						<div class="categories"id="cat5">
							<a class="category" href="{{ '/computational media/' | relative_url }}">computational media</a><br>
							<a class="category" href="{{ '/sound & video/' | relative_url }}">sound & video</a><br>
							<a class="category" href="{{ '/alt docs/' | relative_url }}">alt docs</a>
						</div>
						<div class="categories"id="cat4">
							<a class="category" href="{{ '/towers of power/' | relative_url }}">towers of power</a><br>
							<a class="category" href="{{ '/analog circuits/' | relative_url }}">analog circuits</a><br>
							<a class="category" href="{{ '/nature of code/' | relative_url }}">nature of code</a>
						</div>
						<div class="categories"id="cat4">
							<a class="category" href="{{ '/networked media/' | relative_url }}">net media</a><br>
							<a class="category" href="{{ '/piecing it/' | relative_url }}">piecing it</a><br>
							<a class="category" href="{{ '/bluetooth LE/' | relative_url }}">bluetooth LE</a>
						</div>
						<div class="soc">
							<img src="{{ 'img/socicon/socicon.svg' | relative_url }}">
							<div id="socicons">
								<a class="socicon1" href="https://www.linkedin.com/in/GrauPuche" target="_blank">
									<div class="socicon2"></div>
								</a>
								<a class="socicon1" href="https://instagram.com/Grau_Puche/" target="_blank">
									<div class="socicon2"></div>
								</a>
								<a class="socicon1" href="https://twitter.com/Grau_Puche" target="_blank">
									<div class="socicon2"></div>
								</a>
							</div>
						</div>
						<div id="about">
							<a class="category" href="{{ '/about/' | relative_url }}">ABOUT</a><br>
						</div>
					</div>
				</div>
		</header>