<header>
			<p>
				<div id="header">
					<div id="top_bar">
						<a href="index.html">
							<div id="main_title">
								<img src="img/header/main_titleBlog.gif">
							</div>
						</a>
						<div class="categories"id="cat1">
							<a class="category" id="home_a" href="index.html"></a><br>
							<a class="category" id="apps_a" href="apps.html"></a><br>
							<a class="category" id="pcomp_a" href="pcomp.html"></a><br>
						</div>
						<div class="categories"id="cat5">
							<a class="category" id="icm_a" href="icm.html"></a><br>
							<a class="category" id="soundnvid_a" href="soundnvid.html"></a><br>
							<a class="category" id="altdocs_a" href="altdocs.html"></a>
						</div>
						<div class="categories"id="cat4">
							<a class="category" id="towers_a" href="towers.html"></a><br>
							<a class="category" id="basicanalog_a" href="basicanalog.html"></a><br>
							<a class="category" id="naturecode_a" href="naturecode.html"></a>
						</div>
						<div class="categories"id="cat4">
							<a class="category" id="netmedia_a" href="netmedia.html"></a><br>
							<a class="category" id="piecingit_a" href="piecingit.html"></a><br>
							<a class="category" id="bluetooth_a" href="bluetooth.html"></a>
						</div>
						<div class="soc">
							<img src="img/socicon/socicon.svg">
							<div id="socicons">
								<a class="socicon1" href="https://www.linkedin.com/in/GrauPuche" target="_blank">
									<div class="socicon2"></div>
								</a>
								<a class="socicon1" href="https://instagram.com/Grau_Puche/" target="_blank">
									<div class="socicon2"></div>
								</a>
								<a class="socicon1" href="https://twitter.com/Grau_Puche" target="_blank">
									<div class="socicon2"></div>
								</a>
							</div>
						</div>
						<div id="contact">
							<a id="contact_a" href="contact.html"></a><br>
						</div>
					</div>
				</div>
		</header>