<header>
				<div id="header">
					<div id="top_bar">
						<a href="{{ site.url}}">
							<div id="main_title">
								<img src="{{ 'img/header/main_title.gif' | relative_url }}">
							</div>
						</a>
						<div class="categories"id="cat1">
							<a class="category" href="{{ site.url}}">home</a><br>
							<a class="category" href="{{ '/typography/' | relative_url }}">typography</a><br>
							<a class="category" href="{{ '/print/' | relative_url }}">print</a><br>
						</div>
						<div class="categories"id="cat5">
							<a class="category" href="{{ '/web/' | relative_url }}">web</a><br>
							<a class="category" href="{{ '/user experience/' | relative_url }}">user experience</a><br>
							<a class="category" href="{{ '/branding/' | relative_url }}">branding</a>
						</div>
						<div class="categories"id="cat4">
							<a class="category" href="{{ '/illustration/' | relative_url }}">illustration</a><br>
							<a class="category" href="{{ '/editorial/' | relative_url }}">editorial</a><br>
							<a class="category" href="{{ '/photography/' | relative_url }}">photography</a>
						</div>
						<div class="categories"id="cat4">
							<a class="category" href="{{ '/motion graphics/' | relative_url }}">motion graphics</a><br>
							<a class="category" href="{{ '/packaging/' | relative_url }}">packaging</a><br>
							<a class="category" href="{{ '/product/' | relative_url }}">product</a>
						</div>
						<div class="soc">
								<a class="socicon1" href="https://www.linkedin.com/in/grauPuche" target="_blank">
									<img src="{{ 'img/socicon/socicon_linked.svg' | relative_url }}">
								</a>
								<a class="socicon1" href="https://instagram.com/grauPuche/" target="_blank">
									<img src="{{ 'img/socicon/socicon_insta.svg' | relative_url }}">
								</a>
								<a class="socicon1" href="https://github.com/grauPuche" target="_blank">
									<img src="{{ 'img/socicon/socicon_gith.svg' | relative_url }}">
								</a>
						</div>
						<div id="about">
							<a class="about" href="{{ '/about/' | relative_url }}">ABOUT</a><br>
						</div>
					</div>
				</div>
		</header>