<!doctype html>
<html>

{% include head.html %}

<body>
	<div id="wrapper">
		{% include header.html %}
		<div class="section">
<div class="md"> 			<div class="md">{{content}}</div> </div>
		{% for post in site.posts %}
		{% if post.category1 contains 'packaging' %}
			<article>
				<a class="th_box" href="{{ post.url | relative_url }}">
					<div class="thumnail{{post.size}} ">
						<div class="th_box{{post.size}}">
							<div class="th_box_in">
								<div class="th_box_in1">{{ post.title }}</div>
								<div class="th_box_in2">{{ post.category1}} · {{ post.category2}} · {{ post.category3}}</div>
							</div>
						</div>
						<img src="{{ 'img/thumnails/' | relative_url }}{{ post.number }}.{{ post.file }}">
					</div>
				</a>
			</article>
		{% endif %}
		{% endfor %}
		</div>
		{% include footer.html %}
	</div>
</body>

</html>