<!doctype html>
<html>

{% include head.html %}

<body>
	<div id="wrapper">
		{% include header.html %}
		<div class="section">
			<div class="md">{{content}}</div>
			{% for post in site.posts %}
			<article>
				<a class="th_box" href="{{ post.url | relative_url }}">
					<div class="thumnail512 ">
						<div class="th_box512">
							<div class="th_box_in">
								<div class="th_box_in1">{{ post.title }}</div>
								<div class="th_box_in2">{{ post.category}}</div>
							</div>
						</div>
						<img src="{{ 'img/thumnailsBlog/' | relative_url }}{{ post.number }}_0.png">
					</div>
				</a>
			</article>
			{% endfor %}
		</div>
		{% include footer.html %}
	</div>
</body>

</html>